absl-py==0.8.1
albumentations==0.4.5
astor==0.8.1
attrs==19.3.0
autograd==1.3
autograd-gamma==0.4.2
backcall==0.1.0
beautifulsoup4==4.8.2
beautifultable==0.8.0
bleach==3.1.4
boto3==1.12.31
botocore==1.15.31
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
decorator==4.4.1
defusedxml==0.6.0
dicom==0.9.9.post1
docopt==0.6.2
docutils==0.15.2
dukpy==0.2.2
easydict==1.9
entrypoints==0.3
facenet-pytorch==2.2.9
future==0.18.2
gast==0.2.2
google-auth==1.8.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
h5py==2.9.0
idna==2.8
imageio==2.6.1
imgaug==0.2.6
importlib-metadata==0.23
imutils==0.5.3
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
javascripthon==0.11
jedi==0.15.1
Jinja2==2.10.3
jmespath==0.9.5
joblib==0.14.1
json5==0.9.4
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
jupyter-echarts-pypkg==0.1.2
jupyterlab==2.0.1
jupyterlab-server==1.0.7
kaggle==1.5.6
Keras==2.3.1
Keras-Applications==1.0.8
keras-bert==0.81.0
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.32.0
kiwisolver==1.1.0
lifelines==0.24.3
lml==0.0.2
lxml==4.5.0
macropy3==1.1.0b2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mistune==0.8.4
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.4
nibabel==2.5.1
notebook==6.0.2
numexpr==2.7.0
numpy==1.17.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.2.30
opt-einsum==3.1.0
pandas==0.25.3
pandas-datareader==0.8.1
pandocfilters==1.4.2
parso==0.5.1
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.0.0
prettytable==0.7.2
prometheus-client==0.7.1
prompt-toolkit==2.0.10
protobuf==3.11.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
pydicom==1.4.1
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
Pygments==2.5.1
pykwalify==1.7.0
pynrrd==0.4.2
pyparsing==2.4.5
pypinyin==0.37.0
pyradiomics==3.0
pyrsistent==0.15.6
python-dateutil==2.8.1
python-slugify==4.0.0
pytz==2019.3
PyWavelets==1.0.0
pywin32==227
pywinpty==0.5.7
PyYAML==5.2
pyzmq==18.1.1
qtconsole==4.6.0
radiomics==0.1
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
s3transfer==0.3.3
scikit-image==0.16.2
scikit-learn==0.22
scipy==1.3.2
seaborn==0.10.0
Send2Trash==1.5.0
SimpleITK==1.2.4
simplejson==3.17.0
six==1.13.0
sklearn==0.0
soupsieve==2.0
statsmodels==0.10.2
sympy==1.4
tables==3.6.1
tensorboard==1.13.1
tensorboardX==2.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
thop==0.0.31.post1910280903
torch==1.4.0+cpu
torchmeta==1.4.0
torchvision==0.5.0+cpu
tornado==6.0.3
tqdm==4.39.0
traitlets==4.3.3
tushare==1.2.54
urllib3==1.24.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.11.2
xpinyin==0.5.6
zipp==0.6.0
